<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Naysha Singh</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- BootStrap Link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static\img\naysha.jpeg" alt="kjbb" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Naysha Singh</a></h1>
        <div class="social-links mt-3 text-center">
          
          <a href="https://www.linkedin.com/in/naysha-singh-987118223/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/nayshasingh" class="github"><i class="bx bxl-github"></i></a>
         


        </div>


      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Naysha Singh</h1>
      <p>I'm <span class="typed"
          data-typed-items="Designer, Developer, Freelancer, Full-Stack Developer, Python Developer."></span></p>
    </div>

  </section> -->
  <!-- End Hero -->




  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a passionate tech enthusiast currently pursuing a  B.Tech  in Information Technology from the Indian Institute of Information Technology Allahabad. With a solid foundation in data structures, algorithms, and programming languages like C++ and Python, I enjoy creating efficient, scalable solutions for real-world challenges. My internship experience at Oracle and personal projects have honed my skills in automation and database management. Additionally, I am a strong team player with demonstrated leadership skills, having been involved in college societies, and hackathons. My goal is to leverage my technical skills, problem-solving ability, and teamwork experience to build impactful solutions in the tech industry.
          </p>
        </div>

        

      </div>
    </section><!-- End About Section -->

    {% comment %} <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>journey(Roadmap)</h2>
          <p>As a learning full stack developer my journey in the tech industry has been an exciting
            and rewarding one. I began my career by learning the fundamentals of programming and completing various
            online courses and tutorials. From there, I took on several individual projects and continued to expand my
            skillset, eventually landing my first job as a developer.

            Throughout my career in the industry, I have had the opportunity to work on a variety of projects using
            a range of technologies including Python, JavaScript, and Bootstrap. I have also had the chance to
            collaborate with a talented team of developers and have learned so much from my colleagues.

            Looking ahead, I am excited to continue growing and learning as a developer. I am eager to take on new
            challenges and continue to develop my skills and expertise in the field.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section --> {% endcomment %}

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <div class="skill-category" style="margin-bottom: 20px;">
            <h3>Programming Languages & Web Technologies</h3>
            <p><strong>Languages:</strong> C, C++, Python, PHP, JavaScript, HTML, CSS</p>
            <p><strong>Frameworks & Libraries:</strong> Node.js, Express.js, Socket.io</p>
        </div>
    
        <div class="skill-category" style="margin-bottom: 20px;">
            <h3>Database & DevOps</h3>
            <p><strong>Database Systems:</strong> MySQL, SQL, Oracle Multitenant Architecture</p>
            <p><strong>Version Control:</strong> Git, GitHub</p>
        </div>
    
        <div class="skill-category" style="margin-bottom: 20px;">
            <h3>Core Competencies</h3>
            <ul>
                <li>Machine Learning Algorithms (Naive Bayes, Support Vector Machine, Logistic Regression)</li>
                <li>Multithreading (Python Multithreading)</li>
                <li>Web Development (Frontend and Backend)</li>
                <li>Database Management Systems</li>
                <li>Object-Oriented Methodologies</li>
                <li>Operating Systems</li>
            </ul>
        </div>
    
        <div class="skill-category" style="margin-bottom: 20px;">
            <h3>Tools & Technologies</h3>
            <p><strong>Sentiment Analysis Tools:</strong> TF-IDF</p>
            
        </div>
        </div>

       

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I am a developer with experience in Python and Odoo, as well as a range of other skills including full stack development, JavaScript, Bootstrap, and Figma. I have completed several individual projects and am always looking for new opportunities and challenges to improve my skills and advance my career. I am currently seeking new opportunities and am excited to tackle challenging problems and grow as a developer.</p>
        </div>

       
        <div class="text-center">
          <a class="btn btn-primary download-button col text-center " href="https://drive.google.com/file/d/1vya3o6PHH732ySXdZjE4bNFu7dL1bf5a/view?usp=sharing" download="my-file.pdf>
            <i class="fas fa-download"></i>View Resume
          </a>
        </div>
        <div class="text-center my-3">
          
        </div>



      </div>
    </section><!-- End Resume Section -->



    


          <!-- ======= Portfolio Section ======= -->
          <section id="portfolio" class="portfolio section-bg">
            <div class="container">

              <div class="section-title">
                <section id="experience">
                  <h2>Internship Experience</h2>
                  
                  <div class="internship">
                      <h3>Internship at Oracle</h3>
                      
                      <h4>1. SEALS - Super Elastic Lift and Shift PDB Upgrade Harness for Autonomous DB</h4>
                      <p><strong>Technologies Used:</strong> Python, Oracle Multitenant Architecture, SQL, Python Multithreading</p>
                      <p><strong>Description:</strong> Developed during my internship at Oracle, SEALS is an automated PDB upgrade tool designed to streamline database upgrades in Oracle’s cloud environments. The tool uses Python multithreading to manage batch upgrades, maximizing throughput while minimizing resource contention. It supports multiple upgrade methods and optimizes for performance by configuring batch sizes based on resource availability. The harness includes extensive error handling, logging, and monitoring, making it a reliable solution for large-scale upgrades.</p>
                      <p><strong>Skills Gained:</strong> Parallel processing, resource optimization, database management, cloud infrastructure.</p>
                  </div>
              </section>
              
              <section id="projects">
                  <h2>Projects</h2>
                  
                  <section id="experience">
                    <h2>Internship Experience</h2>
                    
                    <div class="internship" style="margin-bottom: 20px;">
                        <h3>Internship at Oracle</h3>
                        <h4>1. SEALS - Super Elastic Lift and Shift PDB Upgrade Harness for Autonomous DB</h4>
                        <p><strong>Technologies Used:</strong> Python, Oracle Multitenant Architecture, SQL, Python Multithreading</p>
                        <p><strong>Description:</strong> Developed during my internship at Oracle, SEALS is an automated PDB upgrade tool designed to streamline database upgrades in Oracle’s cloud environments. The tool uses Python multithreading to manage batch upgrades, maximizing throughput while minimizing resource contention. It supports multiple upgrade methods and optimizes for performance by configuring batch sizes based on resource availability. The harness includes extensive error handling, logging, and monitoring, making it a reliable solution for large-scale upgrades.</p>
                        <p><strong>Skills Gained:</strong> Parallel processing, resource optimization, database management, cloud infrastructure.</p>
                    </div>
                </section>
                
                <section id="projects">
                    <h2>Projects</h2>
                    
                    <div class="project" style="margin-bottom: 20px;">
                        <h4>2. Sentiment Analysis Model</h4>
                        <p><strong>Technologies Used:</strong> Python, TF-IDF, Naive Bayes, Support Vector Machine, Logistic Regression</p>
                        <p><strong>Description:</strong> Developed a sentiment analysis model using six machine learning algorithms to classify sentiments accurately. This model integrates seamlessly with web applications, providing a user-friendly interface for real-time sentiment analysis. The project leverages TF-IDF and machine learning models like Naive Bayes and SVM to classify text data efficiently. It achieved high accuracy in sentiment prediction, making it suitable for customer feedback analysis, social media monitoring, and more.</p>
                        <p><strong>Skills Gained:</strong> Machine learning, text processing, data analysis, model evaluation.</p>
                        <p><a href="https://github.com/nayshasingh/Sentiment-Analysis-ML/tree/main" target="_blank">View on GitHub</a></p>
                    </div>
                
                    <div class="project" style="margin-bottom: 20px;">
                        <h4>3. WeChat - Group Chatting Application</h4>
                        <p><strong>Technologies Used:</strong> JavaScript, Node.js, Express.js, Socket.io, Google Translate API, HTML, CSS</p>
                        <p><strong>Description:</strong> WeChat is a real-time group chat application with sentiment-based color-coded messages. Built with JavaScript and Node.js, it supports multi-language communication via Google Translate API, making it accessible to a diverse user base. The application uses Socket.io for real-time messaging and includes sentiment analysis for each message, color-coding them based on their sentiment. This project provided practical experience in web development, real-time communication, and user interface design.</p>
                        <p><strong>Skills Gained:</strong> Real-time communication, API integration, UX/UI design.</p>
                        <p><a href="https://web-wechat-com.onrender.com/" target="_blank">View Hosted Application</a></p>
                    </div>
                
                    <div class="project" style="margin-bottom: 20px;">
                        <h4>4. SERL Website for IIIT Allahabad’s Research Laboratory</h4>
                        <p><strong>Technologies Used:</strong> PHP, MySQL, HTML, CSS</p>
                        <p><strong>Description:</strong> Co-developed a dynamic website for IIIT Allahabad’s research lab, featuring a user authentication system and an admin panel. The backend was built with PHP and MySQL, allowing administrators to manage and update content easily. The project required implementing secure login mechanisms, user role management, and an intuitive content management interface, ensuring that the site is functional and easy to maintain.</p>
                        <p><strong>Skills Gained:</strong> Backend development, user authentication, database management, PHP programming.</p>
                        <p><a href="https://github.com/nayshasingh/SERL-Project" target="_blank">View on GitHub</a></p>
                    </div>
                </section>
                
              </section>
              
              </div>

              <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                  <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Odoo</li>
                    <li data-filter=".filter-card">Django</li>
                    <li data-filter=".filter-web">Python</li>
                    <li data-filter=".filter-web">JavaScript</li>
                    <li data-filter=".filter-web">Bootstrap</li>
                  </ul>
                </div>
              </div>

              <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src="{% static 'img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="{% static 'img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery"
                        class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="/project" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </section><!-- End Portfolio Section -->
          {% comment %}
          <!-- ======= Services Section ======= -->
          <section id="services" class="services">
            <div class="container">

              <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                  consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                  fugiat sit
                  in iste officiis commodi quidem hic quas.</p>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                  <div class="icon"><i class="bi bi-briefcase"></i></div>
                  <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                  <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    sint
                    occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-card-checklist"></i></div>
                  <h4 class="title"><a href="">Dolor Sitema</a></h4>
                  <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat tarad limino ata</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"><i class="bi bi-bar-chart"></i></div>
                  <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                  <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon"><i class="bi bi-binoculars"></i></div>
                  <h4 class="title"><a href="">Magni Dolores</a></h4>
                  <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt
                    mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  <h4 class="title"><a href="">Nemo Enim</a></h4>
                  <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium
                    voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                  <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                  <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                    cum
                    soluta nobis est eligendi</p>
                </div>
              </div>

            </div>
          </section><!-- End Services Section --> {% endcomment %}

          {% comment %} <!-- ======= Testimonials Section ======= -->
          <section id="testimonials" class="testimonials section-bg">
            <div class="container">

              <div class="section-title">
                <h2>Testimonials</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                  consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                  fugiat sit
                  in iste officiis commodi quidem hic quas.</p>
              </div>

              <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium
                        quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                        malis
                        quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim
                        tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit
                        minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                      <h3>Matt Brandon</h3>
                      <h4>Freelancer</h4>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                        culpa
                        labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                    </div>
                  </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
              </div>

            </div>
          </section><!-- End Testimonials Section --> {% endcomment %}

          <!-- ======= Contact Section ======= -->
          <!-- <section id="contact" class="contact">
            <div class="container">

              <div class="section-title">
                <h2>Contact</h2>
                <p>Thank you for visiting and spending your valuable time with us. I hope you found what you were looking for.

                  I am always open to work on challenging operations and put my skills to use. If you are in need of someone with my skills and experience, please don't hesitate to contact me. I am confident that I can contribute value to your team and help achieve your business goals.
                  
                  Thank you again for visiting . I am  look forward to hearing from you soon.</p>
              </div>

              <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                  <div class="info">
                    <div class="address">
                      <i class="bi bi-geo-alt"></i>
                      <h4>Location:</h4>
                      <p>Vijayawada, Andhra Predesh, India 521137.</p>
                    </div>

                    <div class="email">
                      <i class="bi bi-envelope"></i>
                      <h4>Email:</h4>
                      <p>burhanmohammad1234@outlook.com</p>
                    </div>

                    <div class="phone">
                      <i class="bi bi-phone"></i>
                      <h4>Call:</h4>
                      <p>+91 7036 0372 03</p>
                    </div>

                    <div class="skype">
                      <i class="bi bi-skype"></i>
                      <h4>Skype:</h4>
                      <p>+91 7036 0372 03</p>
                    </div>

                    <div class="linkedin">
                      <i class="bi bi-linkedin"></i>
                      <h4>linkedin:</h4>
                      <a href="www.linkedin.com/in/burhanmohammad" target="_blank">Burhan Mohammad</a>
                    </div>
                  </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                  <form action="/#contact" method="post"class="php-email-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="name" class="form-control" id="name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Subject</label>
                      <input type="text" class="form-control" name="subject" id="subject">
                    </div>
                    <div class="form-group">
                      <label for="name">Message</label>
                      <textarea class="form-control" name="message" id="message"></textarea>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      {% comment %} <div class="error-message"></div> {% endcomment %}
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">submit</button>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </section>End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="s{% static 'tatic/js/main.js' %}"></script>

  <!--Boot Strap link-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

</body>

</html>